.profilePicture {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
}

.profileContainer {
    padding-left: 7%;
}

.userInfoContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5%;
}

.outfitsContainer {
    padding: 3%;
}

.outfitContainer {
    background-color: rgb(235, 235, 235);
    padding: 1%;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.itemImage {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
    flex-shrink: 0;
}

.outfitImages {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    padding-bottom: 8px;
}

.logoutButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #DF8EC1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logoutButton:hover {
    background-color: #af7095;
  }