.profilePicture {
    width: 130px; 
    height: 130px;
    border-radius: 50%; 
    object-fit: cover;
}

.profileContainer {
    padding-left: 7%;
}

.userInfoContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4%;
   width: 100%;
  box-sizing: border-box;  /* so that your 5% padding is included inside the 100% */
}

.outfitsContainer {
    padding: 3%;
}

.outfitContainer {
    background-color: rgb(235, 235, 235);
    padding: 3%;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.itemImage {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
    flex-shrink: 0;
}

.outfitImages {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    padding-bottom: 8px;
}

.logoutButton {
    padding: 3px 10px;
    background-color: #DF8EC1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0%;
}
  
.logoutButton:hover {
    background-color: #af7095;
}

.usernameContainer {
    padding-top: 10%;
}

.username {
    margin-bottom: 0%;
}